.GardenGrid-cell {
    width: 30%;
    height: 30%;
    background-color: white; 
    border: black solid 1px;
  }
  
.GardenGrid-dot {
    height: 40%;
    width: 40%;
    border-radius: 50%;
    background-color: none;
    margin: auto;
}

.GardenGrid-peg.GardenGrid-harvested {
    background-color: red !important;
}

.GardenGrid-peg.GardenGrid-hit {
    background-color: yellow ;
}

.GardenGrid-peg.GardenGrid-miss {
    background-color: gray;
}

.GardenGrid-hover {
    background-color: darkblue !important;
}