.GardenTable {
    /* background-color: white; */
    height: 300px;
    width: 300px;
}
table {
    border-spacing: none;

}
.GardenTD {
    border: 1px solid #ffec00;
}
.GTHeader {
    color: white;
    display: flex;
}
.GardenGrid {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}