.Chat {
    position: fixed;
    top: 12.9vh;
    background-color: #004683;
    height: 51.8vh;
    display: flex;
    width: 400px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}
.ChatSection {
    display: flex;
    position: relative;
    top: 2vh;
    left: 2vw;
    color: white;
}
@media screen and (max-width: 1200px) {
    .Chat {
        display: none;
    }
}