/* .Message {
    background-color: blueviolet;
} */
.GridRow {
    display: flex;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    margin: auto;
    width: 55vw;
    position: relative;
    left: 8vw;
    bottom: 2vh;
}