.SignUpForm{
    position: fixed;
    top: 12.9vh;
    left: 68vw;
    color: white;
    background-color: #004683;
    height: 51.8vh;
    width: 400px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
    justify-content: center;
}
.SignUpHeader {
    position: fixed;
    top: 5vh;
    left: 80vw;
    color: white;
    font-size: 2em;
}
.InputForm {
    display: flex;
    justify-content: center;
    position: relative;
    top: 3vh;
    margin: 10px;
}