body {
  background-image: url('https://i.imgur.com/Ae3IuxZ.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
  background-color: #428200;
  font-family: 'Patrick Hand', cursive;
}